# Serveur
PORT=3000
CORS_ORIGIN=http://localhost:5173

# SQL database
DB_HOST=localhost
DB_PORT=3306
DB_USER=User
DB_PASSWORD=MDP
DB_NAME=compétenceplus

# Authentification
JWT_SECRET=your_super_secret_jwt_key_min_16_chars_12345
BCRYPT_ROUNDS=10
